p,
h1,
h2,
h3,
body {
  margin: 0;
  padding: 0;
}

.list-container {
  background-image: url('./img/depositphotos_49934977-stock-illustration-notebook-a4-size.jpg');
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 100%;
  padding: 120px;
}

.main-app {
  margin-left: 300px;
}

.app-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  background: rgba(241, 150, 101, 0.31);
  color: whitesmoke;
  padding: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.465);
}

.title-section {
  font-size: 30px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  padding: 30px;
}

.add-task-btn {
  background-color: rgb(248, 115, 137);
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: none;
  font-size: 60px;
  color: white;
  position: absolute;
  right: 120px;
  top: 230px;
  cursor: pointer;
}

.task-container {
  border-bottom: 0.4px solid rgb(179, 179, 179);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  padding: 16px;
  font-family: 'Varela Round', sans-serif;
  color: rgb(95, 94, 94);
  transition: 0.3s;
}

.checkbox-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .sidebar-menu {
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 300px;
    padding: 40px 20px;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    transition: transform 250ms;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }

  .all-tasks-menu {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.366);
    border-radius: 20px;
    gap: 20px;
  }

  .all-tasks-menu a {
    list-style: none;
    text-decoration: none;
  }

  .menu-link {
    display: flex;
    flex-direction: row;
    color: rgb(20, 91, 70);
    gap: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    padding: 5px;
  }

  .all-projects-menu {
    margin-top: 120px;
    border-bottom: 1px solid;
    text-align: center;
  }

  .all-projects-container {
    background-color: whitesmoke;
    border-radius: 10px;
  }
}
